<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<th:block th:replace="layouts/main :: style"></th:block>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/home/home.css}"
	href="resources/css/home/home.css">
</head>
<body>
	<nav th:replace="layouts/main :: header"></nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				<h3>Home</h3>
				<div th:text="${serviceMessage}">Default message</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<div th:replace="layouts/main :: footer"></div>
	<th:block th:replace="layouts/main :: javascript"></th:block>
	<script type="text/javascript" src="/resources/js/common.js"
		th:src="@{/resources/js/home/home.js}"></script>
</body>
</html>